{
  "openapi": "3.1.0",
  "info": {
    "title": "Pulih API",
    "version": "0.1.0",
    "summary": "Recovery support, psychologist booking, payments, content, achievements, and safe AI coach API.",
    "description": "Complete OpenAPI reference for Pulih MVP. Includes module-level docs, request payload schemas, response envelopes, examples for success and common error status codes, auth requirements, route inventory parity, and mental-health safety notes."
  },
  "servers": [
    {
      "url": "https://pulih-api.salmanabdurrahman.my.id",
      "description": "Production API server"
    }
  ],
  "tags": [
    {
      "name": "platform",
      "description": "Health probes, validation demo, OpenAPI artifacts, and Scalar docs."
    },
    {
      "name": "auth",
      "description": "Email/password registration, login, logout, current principal, and onboarding."
    },
    {
      "name": "users",
      "description": "Current user profile and recovery settings."
    },
    {
      "name": "psychologists",
      "description": "Psychologist onboarding, credentials, review submission, bundles, public directory, and sessions."
    },
    {
      "name": "bookings",
      "description": "Patient booking lifecycle, payment hold, confirmation, channel access, and reschedule."
    },
    {
      "name": "payments",
      "description": "Pakasir webhook processing and payment status transitions."
    },
    {
      "name": "routine",
      "description": "Daily check-ins, relapse tracking, streaks, and recovery statistics."
    },
    {
      "name": "journals",
      "description": "Private owner-only journal entries."
    },
    {
      "name": "community",
      "description": "Authenticated community posts, comments, and likes."
    },
    {
      "name": "education",
      "description": "Recovery education catalog."
    },
    {
      "name": "content",
      "description": "Daily motivation and challenge content."
    },
    {
      "name": "achievements",
      "description": "Achievement catalog, progress, and unlocked achievements."
    },
    {
      "name": "ai",
      "description": "Non-streaming safe AI coach, relapse help, summaries, and persona preferences."
    }
  ],
  "paths": {
    "/health/live": {
      "get": {
        "tags": [
          "platform"
        ],
        "summary": "Check service liveness",
        "description": "Returns process liveness for uptime checks. Does not verify DB connectivity.\n\nCommon contract: all JSON responses use Pulih envelope. Protected routes require Bearer JWT. Validation failures return 422 with field-level details. Error messages stay safe and English.",
        "operationId": "get_health_live",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "status"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "ok"
                        }
                      }
                    },
                    "meta": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "200 success",
                    "value": {
                      "success": true,
                      "message": "Service is live",
                      "data": {
                        "status": "ok"
                      },
                      "meta": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Internal error",
                    "value": {
                      "success": false,
                      "message": "Unexpected internal error.",
                      "data": null,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "details": [
                          "An unexpected error occurred."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET https://pulih-api.salmanabdurrahman.my.id/health/live"
          }
        ]
      }
    },
    "/health/ready": {
      "get": {
        "tags": [
          "platform"
        ],
        "summary": "Check service readiness",
        "description": "Checks DB readiness for runtime dependency probes.\n\nCommon contract: all JSON responses use Pulih envelope. Protected routes require Bearer JWT. Validation failures return 422 with field-level details. Error messages stay safe and English.",
        "operationId": "get_health_ready",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "status"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "ok"
                        }
                      }
                    },
                    "meta": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "200 success",
                    "value": {
                      "success": true,
                      "message": "Service is ready",
                      "data": {
                        "status": "ok"
                      },
                      "meta": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Internal error",
                    "value": {
                      "success": false,
                      "message": "Unexpected internal error.",
                      "data": null,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "details": [
                          "An unexpected error occurred."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Service unavailable",
                    "value": {
                      "success": false,
                      "message": "Service temporarily unavailable.",
                      "data": null,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "details": [
                          "Service is temporarily unavailable."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET https://pulih-api.salmanabdurrahman.my.id/health/ready"
          }
        ]
      }
    },
    "/validation-demo": {
      "post": {
        "tags": [
          "platform"
        ],
        "summary": "Validate request body demo",
        "description": "Small validation route used to demonstrate standard validation errors and envelope format.\n\nCommon contract: all JSON responses use Pulih envelope. Protected routes require Bearer JWT. Validation failures return 422 with field-level details. Error messages stay safe and English.",
        "operationId": "post_validation_demo",
        "responses": {
          "201": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ValidationDemoResult"
                    },
                    "meta": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "201 success",
                    "value": {
                      "success": true,
                      "message": "Validation demo accepted",
                      "data": {
                        "name": "Pulih Demo",
                        "email": "demo@example.com"
                      },
                      "meta": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Bad request",
                    "value": {
                      "success": false,
                      "message": "Request body is malformed.",
                      "data": null,
                      "error": {
                        "code": "BAD_REQUEST",
                        "details": [
                          "Request body must be valid JSON."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Validation error",
                    "value": {
                      "success": false,
                      "message": "Request validation failed.",
                      "data": null,
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "details": [
                          "email: Email must be valid."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Internal error",
                    "value": {
                      "success": false,
                      "message": "Unexpected internal error.",
                      "data": null,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "details": [
                          "Failed to validate demo payload."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST https://pulih-api.salmanabdurrahman.my.id/validation-demo"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "name",
                  "email"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Pulih Demo"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "demo@example.com"
                  }
                }
              },
              "examples": {
                "valid": {
                  "summary": "valid",
                  "value": {
                    "name": "Pulih Demo",
                    "email": "demo@example.com"
                  }
                },
                "invalid": {
                  "summary": "invalid",
                  "value": {
                    "name": "Pulih Demo",
                    "email": "not-an-email"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi.yaml": {
      "get": {
        "tags": [
          "platform"
        ],
        "summary": "Serve OpenAPI YAML",
        "description": "Human-readable OpenAPI 3.1 document for docs and external tooling.\n\nCommon contract: all JSON responses use Pulih envelope. Protected routes require Bearer JWT. Validation failures return 422 with field-level details. Error messages stay safe and English.",
        "operationId": "get_openapi.yaml",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "meta": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "200 success",
                    "value": {
                      "success": true,
                      "message": "OpenAPI document retrieved successfully",
                      "data": "openapi: 3.1.0\ninfo:\n  title: Pulih API\n",
                      "meta": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Internal error",
                    "value": {
                      "success": false,
                      "message": "Unexpected internal error.",
                      "data": null,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "details": [
                          "An unexpected error occurred."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET https://pulih-api.salmanabdurrahman.my.id/openapi.yaml"
          }
        ]
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "platform"
        ],
        "summary": "Serve OpenAPI JSON",
        "description": "Machine-readable OpenAPI 3.1 JSON document used by Scalar.\n\nCommon contract: all JSON responses use Pulih envelope. Protected routes require Bearer JWT. Validation failures return 422 with field-level details. Error messages stay safe and English.",
        "operationId": "get_openapi.json",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "meta": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "200 success",
                    "value": {
                      "success": true,
                      "message": "OpenAPI document retrieved successfully",
                      "data": {
                        "openapi": "3.1.0",
                        "info": {
                          "title": "Pulih API"
                        }
                      },
                      "meta": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Internal error",
                    "value": {
                      "success": false,
                      "message": "Unexpected internal error.",
                      "data": null,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "details": [
                          "An unexpected error occurred."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET https://pulih-api.salmanabdurrahman.my.id/openapi.json"
          }
        ]
      }
    },
    "/docs/api": {
      "get": {
        "tags": [
          "platform"
        ],
        "summary": "Render Scalar API docs",
        "description": "Interactive Scalar API reference with search, grouped modules, request examples, response examples, auth helper, and code samples.\n\nCommon contract: all JSON responses use Pulih envelope. Protected routes require Bearer JWT. Validation failures return 422 with field-level details. Error messages stay safe and English.",
        "operationId": "get_docs_api",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "meta": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "200 success",
                    "value": {
                      "success": true,
                      "message": "API docs rendered successfully",
                      "data": "<html>...</html>",
                      "meta": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Internal error",
                    "value": {
                      "success": false,
                      "message": "Unexpected internal error.",
                      "data": null,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "details": [
                          "An unexpected error occurred."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET https://pulih-api.salmanabdurrahman.my.id/docs/api"
          }
        ]
      }
    },
    "/docs/api/": {
      "get": {
        "tags": [
          "platform"
        ],
        "summary": "Render Scalar API docs",
        "description": "Trailing-slash variant of the interactive Scalar API reference.\n\nCommon contract: all JSON responses use Pulih envelope. Protected routes require Bearer JWT. Validation failures return 422 with field-level details. Error messages stay safe and English.",
        "operationId": "get_docs_api",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "meta": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "200 success",
                    "value": {
                      "success": true,
                      "message": "API docs rendered successfully",
                      "data": "<html>...</html>",
                      "meta": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Internal error",
                    "value": {
                      "success": false,
                      "message": "Unexpected internal error.",
                      "data": null,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "details": [
                          "An unexpected error occurred."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET https://pulih-api.salmanabdurrahman.my.id/docs/api/"
          }
        ]
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Register patient account",
        "description": "Creates a patient account with email, username and password. Returns user profile and access token. Duplicate email or username returns 409.\n\nCommon contract: all JSON responses use Pulih envelope. Protected routes require Bearer JWT. Validation failures return 422 with field-level details. Error messages stay safe and English.",
        "operationId": "post_api_v1_auth_register",
        "responses": {
          "201": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthTokenResponse"
                    },
                    "meta": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "201 success",
                    "value": {
                      "success": true,
                      "message": "Registration successful",
                      "data": {
                        "user": {
                          "id": "11111111-1111-4111-8111-111111111111",
                          "email": "patient@example.com",
                          "nickname": null,
                          "recovery_reason": null,
                          "daily_checkin_time": null,
                          "porn_free_goal": null,
                          "onboarding_completed": false
                        },
                        "session": {
                          "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.demo",
                          "token_type": "Bearer",
                          "expires_in": 86400
                        }
                      },
                      "meta": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Bad request",
                    "value": {
                      "success": false,
                      "message": "Request body is malformed.",
                      "data": null,
                      "error": {
                        "code": "BAD_REQUEST",
                        "details": [
                          "Request body must be valid JSON."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Conflict",
                    "value": {
                      "success": false,
                      "message": "Email already registered.",
                      "data": null,
                      "error": {
                        "code": "CONFLICT",
                        "details": [
                          "email: Email is already registered."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Validation error",
                    "value": {
                      "success": false,
                      "message": "Request validation failed.",
                      "data": null,
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "details": [
                          "email: Email must be valid.",
                          "password: Password must be at least 8 characters."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Rate limited",
                    "value": {
                      "success": false,
                      "message": "Too many registration attempts.",
                      "data": null,
                      "error": {
                        "code": "RATE_LIMITED",
                        "details": [
                          "Too many registration attempts. Please retry later."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Internal error",
                    "value": {
                      "success": false,
                      "message": "Unexpected internal error.",
                      "data": null,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "details": [
                          "Failed to create auth account."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST https://pulih-api.salmanabdurrahman.my.id/api/v1/auth/register"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "email",
                  "username",
                  "password",
                  "confirm_password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "patient@example.com"
                  },
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 50,
                    "pattern": "^[a-z0-9_]{3,50}$",
                    "example": "patient1"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 72,
                    "format": "password",
                    "example": "password123"
                  },
                  "confirm_password": {
                    "type": "string",
                    "minLength": 1,
                    "format": "password",
                    "example": "password123"
                  }
                }
              },
              "examples": {
                "patient": {
                  "summary": "patient",
                  "value": {
                    "email": "patient@example.com",
                    "username": "patient1",
                    "password": "password123",
                    "confirm_password": "password123"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/register/psychologist": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Register psychologist account",
        "description": "Creates a psychologist auth account with email, username and password. Continue with /psychologists/register to complete type-specific professional profile and credentials.\n\nCommon contract: all JSON responses use Pulih envelope. Protected routes require Bearer JWT. Validation failures return 422 with field-level details. Error messages stay safe and English.",
        "operationId": "post_api_v1_auth_register_psychologist",
        "responses": {
          "201": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthTokenResponse"
                    },
                    "meta": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "201 success",
                    "value": {
                      "success": true,
                      "message": "Psychologist registration successful",
                      "data": {
                        "user": {
                          "id": "11111111-1111-4111-8111-111111111111",
                          "email": "patient@example.com",
                          "nickname": null,
                          "recovery_reason": null,
                          "daily_checkin_time": null,
                          "porn_free_goal": null,
                          "onboarding_completed": false
                        },
                        "session": {
                          "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.demo",
                          "token_type": "Bearer",
                          "expires_in": 86400
                        }
                      },
                      "meta": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Bad request",
                    "value": {
                      "success": false,
                      "message": "Request body is malformed.",
                      "data": null,
                      "error": {
                        "code": "BAD_REQUEST",
                        "details": [
                          "Request body must be valid JSON."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Conflict",
                    "value": {
                      "success": false,
                      "message": "Email already registered.",
                      "data": null,
                      "error": {
                        "code": "CONFLICT",
                        "details": [
                          "email: Email is already registered."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Validation error",
                    "value": {
                      "success": false,
                      "message": "Request validation failed.",
                      "data": null,
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "details": [
                          "email: Email must be valid.",
                          "password: Password must be at least 8 characters."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Rate limited",
                    "value": {
                      "success": false,
                      "message": "Too many registration attempts.",
                      "data": null,
                      "error": {
                        "code": "RATE_LIMITED",
                        "details": [
                          "Too many registration attempts. Please retry later."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Internal error",
                    "value": {
                      "success": false,
                      "message": "Unexpected internal error.",
                      "data": null,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "details": [
                          "Failed to create auth account."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST https://pulih-api.salmanabdurrahman.my.id/api/v1/auth/register/psychologist"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "email",
                  "username",
                  "password",
                  "confirm_password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "patient@example.com"
                  },
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 50,
                    "pattern": "^[a-z0-9_]{3,50}$",
                    "example": "patient1"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 72,
                    "format": "password",
                    "example": "password123"
                  },
                  "confirm_password": {
                    "type": "string",
                    "minLength": 1,
                    "format": "password",
                    "example": "password123"
                  }
                }
              },
              "examples": {
                "psychologist": {
                  "summary": "psychologist",
                  "value": {
                    "email": "psychologist@example.com",
                    "username": "psychologist1",
                    "password": "password123",
                    "confirm_password": "password123"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Login with email or username",
        "description": "Authenticates user by identifier (email or username) and password. Returns user profile and Bearer access token. Invalid credentials return 401.\n\nCommon contract: all JSON responses use Pulih envelope. Protected routes require Bearer JWT. Validation failures return 422 with field-level details. Error messages stay safe and English.",
        "operationId": "post_api_v1_auth_login",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthTokenResponse"
                    },
                    "meta": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "200 success",
                    "value": {
                      "success": true,
                      "message": "Login successful",
                      "data": {
                        "user": {
                          "id": "11111111-1111-4111-8111-111111111111",
                          "email": "patient@example.com",
                          "nickname": null,
                          "recovery_reason": null,
                          "daily_checkin_time": null,
                          "porn_free_goal": null,
                          "onboarding_completed": false
                        },
                        "session": {
                          "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.demo",
                          "token_type": "Bearer",
                          "expires_in": 86400
                        }
                      },
                      "meta": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Bad request",
                    "value": {
                      "success": false,
                      "message": "Request body is malformed.",
                      "data": null,
                      "error": {
                        "code": "BAD_REQUEST",
                        "details": [
                          "Request body must be valid JSON."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Unauthenticated",
                    "value": {
                      "success": false,
                      "message": "Invalid credentials.",
                      "data": null,
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "details": [
                          "Invalid identifier or password."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Validation error",
                    "value": {
                      "success": false,
                      "message": "Request validation failed.",
                      "data": null,
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "details": [
                          "identifier: Identifier is required.",
                          "password: Password is required."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Rate limited",
                    "value": {
                      "success": false,
                      "message": "Too many login attempts.",
                      "data": null,
                      "error": {
                        "code": "RATE_LIMITED",
                        "details": [
                          "Too many login attempts. Please retry later."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Internal error",
                    "value": {
                      "success": false,
                      "message": "Unexpected internal error.",
                      "data": null,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "details": [
                          "Failed to verify credentials."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST https://pulih-api.salmanabdurrahman.my.id/api/v1/auth/login"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "identifier",
                  "password"
                ],
                "properties": {
                  "identifier": {
                    "type": "string",
                    "example": "patient@example.com"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 72,
                    "format": "password",
                    "example": "password123"
                  }
                }
              },
              "examples": {
                "patient": {
                  "summary": "patient",
                  "value": {
                    "identifier": "patient@example.com",
                    "password": "password123"
                  }
                },
                "psychologist": {
                  "summary": "psychologist",
                  "value": {
                    "identifier": "psychologist@example.com",
                    "password": "password123"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Logout current client",
        "description": "Access-token-only MVP logout. Client discards token; server returns null data.\n\nCommon contract: all JSON responses use Pulih envelope. Protected routes require Bearer JWT. Validation failures return 422 with field-level details. Error messages stay safe and English.",
        "operationId": "post_api_v1_auth_logout",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "null"
                    },
                    "meta": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "200 success",
                    "value": {
                      "success": true,
                      "message": "Logout successful",
                      "data": null,
                      "meta": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Unauthenticated",
                    "value": {
                      "success": false,
                      "message": "Authentication required.",
                      "data": null,
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "details": [
                          "Bearer token is missing or invalid."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Internal error",
                    "value": {
                      "success": false,
                      "message": "Unexpected internal error.",
                      "data": null,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "details": [
                          "Failed to load current user profile."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST https://pulih-api.salmanabdurrahman.my.id/api/v1/auth/logout"
          }
        ]
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Read authenticated user",
        "description": "Returns authenticated principal from Bearer token.\n\nCommon contract: all JSON responses use Pulih envelope. Protected routes require Bearer JWT. Validation failures return 422 with field-level details. Error messages stay safe and English.",
        "operationId": "get_api_v1_auth_me",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthUser"
                    },
                    "meta": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "200 success",
                    "value": {
                      "success": true,
                      "message": "Authenticated user retrieved successfully",
                      "data": {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "email": "patient@example.com",
                        "username": "patient1",
                        "role": "patient",
                        "status": "active"
                      },
                      "meta": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Unauthenticated",
                    "value": {
                      "success": false,
                      "message": "Authentication required.",
                      "data": null,
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "details": [
                          "Bearer token is missing or invalid."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Internal error",
                    "value": {
                      "success": false,
                      "message": "Unexpected internal error.",
                      "data": null,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "details": [
                          "Failed to load current user profile."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET https://pulih-api.salmanabdurrahman.my.id/api/v1/auth/me"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/onboarding": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Complete onboarding",
        "description": "Stores recovery onboarding data for current user. Returns onboarding analysis when AI is available. Same payload is idempotent; different payload after completion returns 409.\n\nCommon contract: all JSON responses use Pulih envelope. Protected routes require Bearer JWT. Validation failures return 422 with field-level details. Error messages stay safe and English.",
        "operationId": "post_api_v1_auth_onboarding",
        "responses": {
          "201": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/OnboardingCompletion"
                    },
                    "meta": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "201 success",
                    "value": {
                      "success": true,
                      "message": "Onboarding completed successfully",
                      "data": {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "email": "patient@example.com",
                        "nickname": "Demo",
                        "recovery_reason": "Build a daily recovery streak",
                        "daily_checkin_time": "07:30",
                        "porn_free_goal": 30,
                        "onboarding_completed": true,
                        "onboarding_analysis": {
                          "level": "Moderate",
                          "title": "Your Recovery Profile",
                          "level_description": "You show moderate dependency patterns with stress as the primary trigger.",
                          "pattern_analysis": "Your late-night urges correlate with work stress. Consider evening grounding activities.",
                          "encouragement": "You have already taken an important step by starting this journey."
                        }
                      },
                      "meta": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Unauthenticated",
                    "value": {
                      "success": false,
                      "message": "Authentication required.",
                      "data": null,
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "details": [
                          "Bearer token is missing or invalid."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Validation error",
                    "value": {
                      "success": false,
                      "message": "Request validation failed.",
                      "data": null,
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "details": [
                          "recoveryGoal: Must not be empty.",
                          "checkInTime: Must use HH:mm format."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Internal error",
                    "value": {
                      "success": false,
                      "message": "Unexpected internal error.",
                      "data": null,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "details": [
                          "Failed to load current user profile."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST https://pulih-api.salmanabdurrahman.my.id/api/v1/auth/onboarding"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "nickname",
                  "recovery_reason",
                  "daily_checkin_time",
                  "porn_free_goal"
                ],
                "properties": {
                  "nickname": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "example": "Demo"
                  },
                  "recovery_reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 2000,
                    "example": "Build a daily recovery streak"
                  },
                  "daily_checkin_time": {
                    "type": "string",
                    "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$",
                    "example": "07:30"
                  },
                  "porn_free_goal": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3650,
                    "example": 30
                  },
                  "answers": {
                    "type": "object",
                    "additionalProperties": true,
                    "example": {
                      "trigger": "stress"
                    }
                  },
                  "dependency_level": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "example": "Moderate",
                    "maxLength": 64
                  }
                }
              },
              "examples": {
                "complete": {
                  "summary": "complete",
                  "value": {
                    "nickname": "Demo",
                    "recovery_reason": "Build a daily recovery streak",
                    "daily_checkin_time": "07:30",
                    "porn_free_goal": 30,
                    "answers": {
                      "trigger": "stress"
                    },
                    "dependency_level": "Moderate"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Read current user profile",
        "description": "Returns current user's profile and onboarding fields.\n\nCommon contract: all JSON responses use Pulih envelope. Protected routes require Bearer JWT. Validation failures return 422 with field-level details. Error messages stay safe and English.",
        "operationId": "get_api_v1_users_me",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/UserProfile"
                    },
                    "meta": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "200 success",
                    "value": {
                      "success": true,
                      "message": "Current user retrieved successfully",
                      "data": {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "email": "patient@example.com",
                        "nickname": "Demo",
                        "recovery_reason": "Build a daily recovery streak",
                        "daily_checkin_time": "07:30",
                        "porn_free_goal": 30,
                        "onboarding_completed": false
                      },
                      "meta": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Unauthenticated",
                    "value": {
                      "success": false,
                      "message": "Authentication required.",
                      "data": null,
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "details": [
                          "Bearer token is missing or invalid."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Not found",
                    "value": {
                      "success": false,
                      "message": "Profile not found.",
                      "data": null,
                      "error": {
                        "code": "NOT_FOUND",
                        "details": [
                          "Current user profile was not found."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Internal error",
                    "value": {
                      "success": false,
                      "message": "Unexpected internal error.",
                      "data": null,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "details": [
                          "Failed to load current user profile."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET https://pulih-api.salmanabdurrahman.my.id/api/v1/users/me"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/users/settings": {
      "put": {
        "tags": [
          "users"
        ],
        "summary": "Update current user settings",
        "description": "Updates editable current-user settings. Unknown fields return 422.\n\nCommon contract: all JSON responses use Pulih envelope. Protected routes require Bearer JWT. Validation failures return 422 with field-level details. Error messages stay safe and English.",
        "operationId": "put_api_v1_users_settings",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/UserProfile"
                    },
                    "meta": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "200 success",
                    "value": {
                      "success": true,
                      "message": "Settings updated successfully",
                      "data": {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "email": "patient@example.com",
                        "nickname": "Demo",
                        "recovery_reason": "Build a daily recovery streak",
                        "daily_checkin_time": "07:30",
                        "porn_free_goal": 30,
                        "onboarding_completed": false
                      },
                      "meta": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Unauthenticated",
                    "value": {
                      "success": false,
                      "message": "Authentication required.",
                      "data": null,
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "details": [
                          "Bearer token is missing or invalid."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Validation error",
                    "value": {
                      "success": false,
                      "message": "Request validation failed.",
                      "data": null,
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "details": [
                          "recoveryGoal: Must not be empty.",
                          "checkInTime: Must use HH:mm format."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Internal error",
                    "value": {
                      "success": false,
                      "message": "Unexpected internal error.",
                      "data": null,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "details": [
                          "Failed to load current user profile."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X PUT https://pulih-api.salmanabdurrahman.my.id/api/v1/users/settings"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "nickname": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "example": "Demo",
                    "maxLength": 255
                  },
                  "recovery_reason": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "example": "Stay sober for 30 days",
                    "maxLength": 2000
                  },
                  "daily_checkin_time": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "example": "07:30",
                    "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$"
                  },
                  "porn_free_goal": {
                    "type": "integer",
                    "nullable": true,
                    "minimum": 1,
                    "maximum": 3650,
                    "example": 30
                  }
                }
              },
              "examples": {
                "profile": {
                  "summary": "profile",
                  "value": {
                    "nickname": "Demo",
                    "recovery_reason": "Stay sober for 30 days",
                    "daily_checkin_time": "07:30",
                    "porn_free_goal": 60
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/psychologists/register": {
      "post": {
        "tags": [
          "psychologists"
        ],
        "summary": "Create or update psychologist profile",
        "description": "Creates psychologist profile shell with identity fields for psychologist listing and booking.\n\nCommon contract: all JSON responses use Pulih envelope. Protected routes require Bearer JWT. Validation failures return 422 with field-level details. Error messages stay safe and English.",
        "operationId": "post_api_v1_psychologists_register",
        "responses": {
          "201": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/PsychologistProfile"
                    },
                    "meta": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "201 success",
                    "value": {
                      "success": true,
                      "message": "Psychologist profile saved successfully",
                      "data": {
                        "id": "22222222-2222-4222-8222-222222222222",
                        "userId": "11111111-1111-4111-8111-111111111111",
                        "type": "clinical",
                        "consultationChannel": "chat_and_meet",
                        "fullName": "Dr. Demo",
                        "approvalStatus": "draft",
                        "dateOfBirth": "1990-01-01",
                        "address": "Jl. Demo No. 1",
                        "photoUrl": "https://example.com/photo.jpg",
                        "bio": "Licensed clinical psychologist.",
                        "ratingSummary": {
                          "averageRating": 4.8,
                          "reviewCount": 12
                        },
                        "latestReviews": [
                          {
                            "id": "review_001",
                            "bookingId": "55555555-5555-4555-8555-555555555555",
                            "patientUserId": "11111111-1111-4111-8111-111111111111",
                            "psychologistProfileId": "22222222-2222-4222-8222-222222222222",
                            "rating": 5,
                            "comment": "Helpful",
                            "createdAt": "2026-07-16T01:10:00.000Z",
                            "updatedAt": "2026-07-16T01:10:00.000Z"
                          }
                        ],
                        "latestBundle": null
                      },
                      "meta": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Unauthenticated",
                    "value": {
                      "success": false,
                      "message": "Authentication required.",
                      "data": null,
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "details": [
                          "Bearer token is missing or invalid."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Forbidden",
                    "value": {
                      "success": false,
                      "message": "Access denied.",
                      "data": null,
                      "error": {
                        "code": "FORBIDDEN",
                        "details": [
                          "Only psychologists can manage this profile."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Conflict",
                    "value": {
                      "success": false,
                      "message": "Psychologist profile conflicts with current state.",
                      "data": null,
                      "error": {
                        "code": "CONFLICT",
                        "details": [
                          "Psychologist profile already exists for this account."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Validation error",
                    "value": {
                      "success": false,
                      "message": "Request validation failed.",
                      "data": null,
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "details": [
                          "type: Must be one of general, clinical.",
                          "fullName: Must be a non-empty string."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Internal error",
                    "value": {
                      "success": false,
                      "message": "Unexpected internal error.",
                      "data": null,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "details": [
                          "Failed to save psychologist profile."
                        ],
                        "request_id": "req_01JZV7PULIHDEMO0000000000"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST https://pulih-api.salmanabdurrahman.my.id/api/v1/psychologists/register"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "type",
                  "fullName",
                  "dateOfBirth",
                  "address",
                  "photoUrl"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "general",
                      "clinical"
                    ],
                    "example": "clinical"
                  },
                  "fullName": {
                    "type": "string",
                    "maxLength": 255,
                    "example": "Dr. Demo"
                  },
                  "dateOfBirth": {
                    "type": "string",
                    "format": "date",
                    "example": "1990-01-01"
                  },
                  "address": {
                    "type": "string",
                    "maxLength": 1000,
                    "example": "Jl. Demo No. 1"
                  },
                  "photoUrl": {
                    "type": "string",
                    "format": "uri",
[...]
